<style>
    @include('../view_css/recharge.css');
</style>
<div class="view-title f38 relative">
    <a href="javascript:void(0);" class="absolute back-btn f20 closeSelf">
        <i class="icon"></i>
    </a>
    好友代充
</div>
<div class="rechargeBox">
    <div id="friendBanner" class="rechargeBanner">
        <img src="http://s-h5.52kouhong.com/upload/2018/ci/substituteRecharge.png" />
    </div>
    <div class="recMonList">
        <div class="reM">
            <ul id="friendRecharges" class="list">
            
            </ul>
            <a id="" class="okRechargeBtn" href="javascript:void(0);">发起代充</a>
        </div>
    </div>
</div>
<div class="shareDialog">
    <img src="http://s-h5.52kouhong.com/upload/2018/ci/share.png">
</div>