<style>
    @include('../view_css/guide.css');
</style>
 <div id="banner" class="khjmainbox">
     <em style="z-index: 10; display: inline-block; transform: translateX(0);">
        <a href="javascript:void(0);">
            <img class="img" src="./res/img01.png" alt="">
            <div class="cont">
                <div class="title">恭喜<span>桃桃桃子</span>在口红姬游戏挑战中赢得</div>
                <p class="intitle">阿玛尼小胖丁染唇液304号</p>
            </div>
        </a>
     </em>
     <em>
        <a href="javascript:void(0);">
            <img class="img" src="./res/img02.png" alt="">
            <div class="cont">
                <div class="title">恭喜<span>开心果</span>在口红姬游戏挑战中赢得</div>
                <p class="intitle">迪奥烈焰蓝金999</p>
            </div>
        </a>
     </em>
     <em>
        <a href="javascript:void(0);">
            <img class="img" src="./res/img03.png" alt="">
            <div class="cont">
                <div class="title">恭喜<span>果果B</span>在口红姬游戏挑战中赢得</div>
                <p class="intitle">YSL金方管唇膏13号</p>
            </div>
        </a>
     </em>
    <!-- <a href="#" class="goplayBtn"></a> -->
</div>