<style>
    @include('../view_css/recommend.css');
</style>
<div class="view-title f38 relative">
    <a href="javascript:void(0);" class="absolute back-btn f20 closeSelf">
        <i class="icon"></i>
    </a>
推荐豪礼
</div>
<div class="recommend">
    <div class="timeTotal">
        <p>活动剩余时间：<span></span></p>
    </div>
    <ul id="recommendList">
        <!-- <li class="complete">
            <p class="reico"></p>
            <div class="info">
                 <p class="money">30魅力币</p>
                 <p class="per">成功推荐<span>3</span>位好友</p>
            </div>
            <div class="recbtn">领取</div>
        </li>
        <li>
            <p class="reico"></p>
            <div class="info">
                 <p class="money">70魅力币</p>
                 <p class="per">成功推荐<span>10</span>位好友,还需推荐<span>3</span>位好友</p>
            </div>
            <div class="recbtn">领取</div>
        </li>
        <li>
            <p class="reico"></p>
            <div class="info">
                 <p class="money">120魅力币</p>
                 <p class="per">成功推荐<span>20</span>位好友,还需推荐<span>15</span>位好友</p>
            </div>
            <div class="recbtn">领取</div>
        </li>
        <li>
            <p><img src="" /></p>
            <div class="info">
                 <p class="money">MAC口红</p>
                 <p class="per">成功推荐<span>40</span>位好友,还需推荐<span>15</span>位好友</p>
            </div>
            <div class="recbtn">领取</div>
        </li> -->
    </ul>
    <div class="inviteBtn"></div>
</div>
<!----分享提示-->
<div class="shareDialog">
    <div class="sharePic"></div>
    <p class="shareTxt">邀好友，赚魅力币</p>
</div>
<!----浏览器分享-->
<div id="broswerDialog" class="broswerDialog">
    <div class="broswerCon">
        <div class="t">分享提示</div>
        <div class="close"></div>
        <input id="shareTxt-copy" class="shareTxt-copy" />
        <div id="broswerCopyBtn" class="broswerCopyBtn">
            复制
        </div>
    </div>
</div>
