<style>
    @include('../view_css/recommendTips.css');
</style>
<div class="view-title f38 relative">
    <a href="javascript:void(0);" class="absolute back-btn f20 closeSelf">
        <i class="icon"></i>
    </a>
    至臻有礼
</div>
<div class="recommendTips">
    <div class="recommendTop">
        <p class="title"><span>恭喜您已获得兑换口红资格</span>组织好友为你填满活跃度即可兑换哦</p>
        <div class="processTop"></div>
        <!-- <div class="processLine">
                <div class="processCur" style="width:80%"></div>
            </div>
            <div class="processtxtTip">
                <p class="begin">开始</p>
                <div class="middle"><span>800</span></div>
                <p class="end">1200</p>
            </div> -->
    </div>

    <div class="recommendMiddle">
        <div class="recommendMiddle-scroll">
            <ul id="recommendMiddle">
                <!-- <li>
                    <p class="lf">ｘxxx发起每闯关</p>
                    <p class="rl">贡献1点活跃度</p>
                </li>
                <li>
                    <p class="lf">xxxx进行签到</p>
                    <p class="rl">贡献1点活跃度</p>
                </li>
                <li>
                    <p class="lf">xxxx进行充值</p>
                    <p class="rl">贡献1点活跃度</p>
                </li>
                <li>
                    <p class="lf">xxxx为您打开活跃度礼包</p>
                    <p class="rl">贡献1点活跃度</p>      
                </li> -->

            </ul>
        </div>
    </div>
    <div class="recommendBottom">
        <p class="tit">如何获得活跃度？</p>
        <p>1、邀请的用户每闯关1次获得1点活跃度，每个用户每天最多贡献2点</p>
        <p>2、邀请的用户每签到1次获得1点活跃度</p>
        <p>3、邀请的用户进行充值获得等于充值金额的活跃度</p>
        <p>4、邀请的用户随机为您打开活跃度礼包</p>
    </div>
</div>
<!----分享提示-->
<div class="shareDialog">
    <div class="sharePic"></div>
    <p class="shareTxt">邀好友，赚魅力币</p>
</div>
<!----浏览器分享-->
<div id="broswerDialog" class="broswerDialog">
    <div class="broswerCon">
        <div class="t">分享提示</div>
        <div class="close"></div>
        <input id="shareTxt-copy" class="shareTxt-copy" />
        <div id="broswerCopyBtn" class="broswerCopyBtn">
            复制
        </div>
    </div>
</div>