<style>
   @include('../view_css/rewardPage.css');
</style>
<div class="view-title f38 relative">
    <a href="javascript:void(0);" class="absolute back-btn f20 closeSelf">
        <i class="icon"></i>
    </a>
    口红姬
</div>
<div id="rewards" class="rewards">
    <div class="top-banner"></div>
    <div class="index-list-titles"></div>
    <ul id="itemList" class="item-list">
        <!-- <li>
            <img class="lazy" src="" data-src="../res/15.jpg" alt="">
            <h3 class="font-clip">标4545标题标题标题标题标题</h3>
        </li> -->
    </ul>
    <div id="chooseLipstick" class="choose-lipstick">
        <img class="lazy relative" src="" alt="">
        <div class="item-name">
            <h6 class="font-clip"></h6>
            <!-- <em class="coin">&yen;3000</em> -->
        </div>
        <button class="btn_red">确认领取</button>
    </div>
</div>
<!---订单弹窗-->
<div id="orderDialog">

</div>